.card {
  border: 1px solid black;
}

.card-lang-indicator {
  font-size: 0.75rem;
  font-weight: 700;
}

.card-content {
  font-size: 1.25rem;
}

.card-divider {
  height: 1px;
  background: black;
}

.delete-icon {
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}

.soundwave-icon {
  font-size: 1.5rem;
}
