main {
  background-color: #fff8ce;
}

.main-section {
  background-color: #fff;
  min-width: 300px;
  width: min(373px, calc(100dvw - 2rem));
  max-width: 373px;
  height: 100%;
}

.add-card-btn,
.auto-generate-card-btn {
  width: 130px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 40px;
}

.settings-icon,
.add-card-icon,
.generate-card-icon {
  font-size: 1.5rem !important;
}

.settings-icon {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
}

.playlist-controls {
  margin-top: auto;
}

.spinner {
  margin: auto;
}
